.README.md.swp
ui/gst-instruments
*.gsttrace
*-1.0
*.so
*.dylib
*.dSYM/
*~
xcuserdata/
project.xcworkspace/
*.svg
autom4te.cache/
autoscan.log
INSTALL
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4/
missing
*.o
*.lo
*Makefile
ui/*.c
*.stamp
*.deps/
*.libs/
*.la
depcomp
stamp-h1
config.h.in
